body {
  background-image: url("https://ssl.c.photoshelter.com/img-get2/I0000Hj3oY61piYk/fit=1000x750/San-Francisco-Bay-Bridge.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
h1 {
  font-size: 45px;
  font-color: black;

}
p {
  font-size: 22px;
}
.container{
  display: flex;
}
.list h3{
  padding-left: 25px
}
h1 {
    background-color: ;
}
